@font-face {
  font-family: bold;
  src: url(../fonts/bold.woff2);
}

@font-face {
  font-family: regular;
  src: url(../fonts/regular.woff2);
}

:root {
  --accent-color: #ed5342;
  --light-color: #d3d3d3;
  --dark-color: #272a31;
  --bright-color: #fff;
  --text-color: #555;
  --title-font: bold, serif;
  --text-font: regular, serif;
}

html,
body {
  padding: 0;
  margin: 0;
  padding-top: 25px;
  color: var(--text-color);
  font: 16px var(--text-font);
}

h1,
h2,
h3,
ul,
p,
hr,
button {
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.1s ease;
}

button {
  color: inherit;
  background-color: transparent;
  border: 0;
}

.container {
  padding: 0 10px;
}

.visibility {
  display: flex !important;
}

.accent-color {
  color: var(--accent-color);
}

.light-color {
  color: var(--light-color);
}

.dark-color {
  color: var(--dark-color);
}

.bright-color {
  color: var(--bright-color);
}

.accent-background {
  background-color: var(--accent-color);
}

.light-background {
  background-color: var(--light-color);
}

.dark-background {
  background-color: var(--dark-color);
}

.header {
  position: fixed;
  top: 0;
  inset-inline: 0;
  background-color: var(--bright-color);
  box-shadow: 0 2px 4px var(--light-color);
}

.header-menu {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.header nav {
  position: fixed;
  top: 0;
  bottom: 0;
  inset-inline: 0;
  display: none;
  justify-content: flex-end;
  flex-direction: column-reverse;
  color: var(--bright-color);
  background-color: var(--dark-color);
}

.header-close {
  order: 1;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 2rem;
  align-self: flex-end;
  margin-top: 10px;
  margin-inline-end: 10px;
}

.header-social {
  order: 1;
  gap: 20px;
  font-size: 1.5rem;
  justify-content: center;
}

.header-social li {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-links {
  gap: 10px;
  flex-direction: column;
  font: 2rem var(--title-font);
  margin: 15px 0;
}

.header-links li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.header-logo {
  display: none;
}

.hero {
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(211,211,211,0.1), rgba(211,211,211,0.9)), url(../images/hero.png);
}

.hero span {
  font: 1.25rem var(--title-font);
  -webkit-text-stroke: 0.5px var(--dark-color);
}

.hero h1 {
  font: 3rem/2.75rem var(--title-font);
  -webkit-text-stroke: 1px var(--dark-color);
  background: repeating-linear-gradient(45deg, var(--accent-color) 0, rgb(60, 0, 0) 10%, var(--accent-color) 20%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.hero p {
  padding: 10px;
  border: 3px solid var(--bright-color);
  margin: 30px 0;
}

.hero time {
  font: 1.5rem var(--title-font);
}