@font-face {
  font-family: bold;
  src: url(../fonts/lato-bold.woff2);
}

@font-face {
  font-family: regular;
  src: url(../fonts/lato-regular.woff2);
}

:root {
  --accent-color: #ec5242;
  --dark-color: #272a31;
  --light-color: #d3d3d3;
  --title-font: bold, serif;
  --text-font: regular, serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

h1,
h2,
h3,
ul,
p,
hr {
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
  transition: all 0.1s ease;
}
